.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  text-align: center;
}

p {
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 5px 10px lightgray;
  width: 15%;
  height: auto;
  margin: 2%;
  padding: 24px;
}
.jokes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  font-size: 2rem;
}

input {
  margin: .5rem;
}

form {
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 5px 10px lightgray;
  width: 15%;
  margin: auto;
  padding: 2rem;
}
